$color-primary: rgb(249,188,32);
$color-text-primary: #515151;


/* Таблицы стилей Sass */
/* Адрес цветовой схемы: https://colorscheme.ru/#3V61VbC-AcOcO */


/* HEX коды */
/*
$color-primary-0: #aeb7fe;
$color-primary-1: #a4abe5;
$color-primary-2: #7883da;
$color-primary-3: #b6bffe;
$color-primary-4: #bdc4fe;
*/
$text-black: #1f1f1f;
$text-gray-1: #727272;

$color-primary-0: #276c6c;	/* Основной Цвет */
$color-primary-1: #2a5151;
$color-primary-2: #0d4646;
$color-primary-3: #5fb5b5;
$color-primary-4: #76b5b5;

$color-primary-negate: #d29897;


$color-secondary-a-0: #cbaafe;	/* Вторичный Цвет A */
$color-secondary-a-1: #bba1e5;
$color-secondary-a-2: #9d75da;
$color-secondary-a-3: #d0b3fe;
$color-secondary-a-4: #d4b9fe;

$color-secondary-b-0: #a6e5fe;	/* Вторичный Цвет B */
$color-secondary-b-1: #9dd1e4;
$color-secondary-b-2: #72bdda;
$color-secondary-b-3: #afe8fe;
$color-secondary-b-4: #b6eafe;

$color-complement-0: #ffe5a2;	/* Дополнительный Цвет */
$color-complement-1: #e6d19b;
$color-complement-2: #dbbd70;
$color-complement-3: #ffe8ac;
$color-complement-4: #ffeab3;

